# Database
DATABASE_URL="postgresql://postgres:postgres@db:5432/fakenews"

# Google Gemini
GEMINI_API_KEY="AIzaSyCoB2_1zOPFJCUEiQ3UjbypZKUAPByTUxg"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"
